* { margin: 0; padding: 0;}
body {	font: 15px Tahoma, Arial, sans-serif;	color: #050505; background: url(pattern5.png) fixed;}
a {	color: #050505;}
.wrapper {
	background: #F8F8F8;
	min-width: 400px;
	max-width: 700px;
	width: 700px;
	margin: 0 auto;
}
/*######################################*/
.header {
	height: 30px;
	background: rgba(148, 197, 204, 0.97);
	top: 0px;
	position: fixed;
	width: 720px;
	margin-left: -10px;
}
.header ul li {
	display: block;
	float: left;
	text-align: center;
	margin-top: 5px;
	width: 25%;
	position: relative;
}
.header ul li a{ 	text-decoration: none;}
/*login*/
input {font-size: 14px}
#navigation .login_wrapper {
	display: none;
	margin-left: -86px;
	margin-top: 7px;
}
#navigation .arr {
	width: 0;
	height: 0;
	margin-left: 150px;
	border-bottom: 20px solid rgba(148, 197, 204, 0.97);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#navigation .login {
	padding: 15px;
	z-index: 3;
	width: 200px;
	background: rgba(148, 197, 204, 0.97);
	border-radius: 5px
}
.login .input {
	color: #050505;
	background: rgba(148, 197, 204, 0.97);
	padding: 5px;
	
	font-size: 15px;
	width: 200px;
}
#navigation .login_active:hover .login_wrapper {	display: block;}
#navigation .login_active:active .login_wrapper {	display: block;}
::-webkit-input-placeholder {    color: #050505;}
:-moz-placeholder {    			 color: #050505;   opacity:  1;}
::-moz-placeholder {  			 color: #050505;   opacity:  1;}
:-ms-input-placeholder {    	 color: #050505;}
/*#################################*/
.content {
	margin-top: 30px;
	padding-top: 15px;
}
.news-wrapper {
	margin: 10px 0;
	padding: 15px;
}
.news-wrapper:hover {	background: #B4D2E7;}
.news-wrapper hr {	display: none;}
/*all user*/
.content h2 {	text-align: center;}
.content ul { padding: 15px; }
.content ul li {	list-style: none;}
/*add news*/
.set-news {
	padding: 15px;
	border: none;
}
.input {
	background: #F8F8F8;
	width: 670px;
	border: none;
}
.set-news textarea {	max-width: 670px;}
.head {	font-size: 24px;}
/*######################################*/
.button {
	margin: 15px;
	height: 25px;
	width: 150px;
	background: #B4D2E7;
	border-radius: 200px;
	border: none;
}
.button:hover {	background: #57afbc;}
/********************/
.reg_in {
	margin-left: 20px;
	margin-bottom: 15px;
}
table {
	margin: 0 auto;
	padding: 15px;
}
/***********************/
.news-wrapper .news hr { 
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;}
#rating {text-align: center;}
#comment {
	text-align: center;
	padding: 15px;
	width: 500;
}
.comment-wrapper {	padding: 15px;}
.comment-wrapper h4 { margin-bottom: 5px;}
.comment-wrapper:hover { background: #B4D2E7;	}