* {margin: 0; padding: 0; border: 0; font-family: Vendana, Tahoma, sans-serif;}

.button{ 
	width: 200px;
	height: 30px;
	background: #fff;
	border-radius: 50px;
	box-shadow: 2px 2px 9px -4px;
	margin: 10px auto;
	border: 1px solid #d4caca;
	font-size: 17px;
	font-weight: bold;
	color: #2c2c2c;}
.button:hover {
	box-shadow: 2px 2px 9px -4px;
	background: #d6cfcf;
	color: #2c2c2c;}
.button:active {
	border: none;
	box-shadow: 2px 2px 9px -4px;
	background: #767676;
	color: #2c2c2c;
}

body {	background: #17181c;}

a {
    color: #56575c;
    text-decoration: none;
    font-weight: bold;}

/** header **/
.header {
    background: #fff;
    box-shadow: 0px 0px 11px 0px;
    -moz-box-shadow: 0px 0px 11px 0px;
    -webkit-box-shadow: 0px 0px 11px 0px;
	 height: 37px;
    overflow: hidden;
    width: 100%;
    position: fixed;
	top: 0;}
.header ul {display: table-row;}
.header ul li {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
    list-style: none;}
.header ul li a{
	height: 37px;
	display: table-cell;
	vertical-align: middle;
	 width: 1000px;
}
.header ul li a:hover { font-size: 1.05em;}
/** end header **/

/** content **/
.content {
     background: #fff;
    margin: 70px auto;
    width: 80%;
    max-width: 1000px;
    min-width: 360px;
    border: 1px solid #fff;
    border-radius: 6px;
}
.content .news-wrapper{    color: #56575c;    }
.content .news-wrapper .news .head-news{  
    color: #383839;
    padding: 10px;
    background: #fff; }

.content .news-wrapper .news .head-news .p { 
	display: inline;
	color: rgb(86, 87, 92);}
.content .news-wrapper .news .head-news .p hr{ 	width: 60%;}
.content .news-wrapper hr{
    border: 1px solid #d9d9d9;
    border-radius: 20px;
}
.content .news-wrapper .news .content-news { 
     color: #383839;
    padding: 20px;
    background: #fff;  }

/*all users*/
.content {padding: 10px;}
.content ul {    margin: 10px;}
.content h2{	 color: #383839;}
.content .all_users {	text-align: center;}
.content ul li {    list-style: none;}
/*add news*/
.content .set-news {
	/*border: 1px solid #d4caca;*/
	width: 98%;
	margin: 2px;
}
.content .set-news fieldset {	width: 100%;}
.content fieldset .inside {
	width: 97%;
	min-width: 97%;
	border: none;
}
.inside:active {border: 0px;}
.content .set-news .head{
	height: 40px;
	font-size: 24px;
	text-transform: capitalize;
}
/**/
.input {
	/*border: 1px solid #d8d8d8;	*/
	margin: 5px;
	padding: 5px;
}
form {	text-align: center;}
#form_reg {	
	margin-left: 10px;
	text-align: left;}
